.board_packet {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
}
.board_packet_photo {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}
.board_question_heading {
  text-align: center;
  font-size: 3rem;
}
